<% include ../partials/header %>
  <div class="profile-hero">
    <div class="hero-text-box-2">        
      <h1><%= title %> <span class="h2"><%= subTitle %></span></h1>
    </div>
  </div>
  <main>
    <div class="container-fluid custom-container">
      <div class="row">
        <% if (!blogs.length) { %>
          <div class="col-12">
            <div class="no-blog-wrapper text-center">
              <h1>You don't have any blogs yet!</h1>
              <a href="#" class="btn btn-sm btn-primary mt-5 shadow">Create one now!</a>
            </div>
          </div>
        <% } else { %>
          <% blogs.forEach((blog) => { %>
            <div class="col-xl-4 col-lg-6 mb-3">
              <div class="card h-100">
                <img src="<%= blog.image.secure_url %>" alt="<%= blog.title %>'s image" class="card-img-top img-fluid shadow">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <p class="small lead">By: 
                    <i><%= blog.author.firstName.charAt(0).toUpperCase() + blog.author.firstName.slice(1) %> 
                    <%= blog.author.lastName.charAt(0).toUpperCase() + blog.author.lastName.slice(1) %></i>
                  </p>
                  <p class="small lead">Created: <i><%= moment(blog.publishDate).format('MMM Do, YYYY') %></i></p>
                  <% if(blog.content.startsWith('```') || blog.content.startsWith('![Image]')) { %>
                    <p>Content either begins with inline code, a code block or an Image. Click the button below to view content</p>
                  <% } else { %>
                    <p><%- entities.decode(converter.makeHtml(blog.content)) %></p>
                  <% } %>
                  <a href="/blogs/blog/<%= blog.slug %>" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </main>

  <nav class="navbar fixed-bottom navbar-dark bg-dark d-none d-lg-block">
    <a class="navbar-brand d-inline text-center d-inline-block" href="/"><i class="fas fa-blog text-primary"></i> SimpleBlog</a>
    <a href="#" class="nav-link text-white d-inline-block float-right text-center">Copyright 2019 Darrell Pawson</a>
  </nav>
  
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js" integrity="sha256-aYTdUrn6Ow1DDgh5JTc3aDGnnju48y/1c8s1dgkYPQ8=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script> -->
  <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>


<!-- <div class="row mb-4">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-4 my-auto">
              <div class="overlay"></div>
              <img class="img-fluid rounded blog-image shadow-lg" src="/images/js.jpeg" alt="">
            </div>
            <div class="col-lg-8 my-4">
              <h1>Title</h1>
              <h3>By: Darrell Pawson <span class="lead float-right mr-4">Created: <span class="small date-fix"><%= new Date().toDateString() %></span></span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro accusamus cum recusandae beatae iure doloribus modi alias amet totam blanditiis consequatur, labore ipsum placeat minus quis excepturi veniam. Labore sed, eligendi cumque a sunt distinctio consequatur aperiam possimus doloribus blanditiis quidem! Rerum inventore, veritatis necessitatibus quos, minima magni adipisci fugiat qui officia magnam itaque animi, aliquam tenetur possimus similique illum. Repellendus perferendis eveniet deserunt minima natus vel aut perspiciatis, temporibus odit libero facere culpa eum! Doloribus sequi, necessitatibus aliquam ipsam iusto nam numquam odio ratione repellat. Excepturi beatae, placeat sit, amet eius quasi voluptates cupiditate quam aliquid sapiente alias.</p>
              <a href="#" class="btn btn-sm btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-4 my-auto">
              <div class="overlay"></div>
              <img class="img-fluid rounded blog-image shadow-lg" src="/images/js.jpeg" alt="">
            </div>
            <div class="col-lg-8 my-4">
              <h1>Title</h1>
              <h3>By: Darrell Pawson <span class="lead float-right mr-4">Created: <span class="small date-fix"><%= new Date().toDateString() %></span></span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro accusamus cum recusandae beatae iure doloribus modi alias amet totam blanditiis consequatur, labore ipsum placeat minus quis excepturi veniam. Labore sed, eligendi cumque a sunt distinctio consequatur aperiam possimus doloribus blanditiis quidem! Rerum inventore, veritatis necessitatibus quos, minima magni adipisci fugiat qui officia magnam itaque animi, aliquam tenetur possimus similique illum. Repellendus perferendis eveniet deserunt minima natus vel aut perspiciatis, temporibus odit libero facere culpa eum! Doloribus sequi, necessitatibus aliquam ipsam iusto nam numquam odio ratione repellat. Excepturi beatae, placeat sit, amet eius quasi voluptates cupiditate quam aliquid sapiente alias.</p>
              <a href="#" class="btn btn-sm btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div> -->